{% extends 'marketplace/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Order Details - My Marketplace{% endblock %}

{% block content %}
<h1>Order Details (Order #{{ order.id }})</h1>
    <p><strong>Order Date:</strong> {{ order.order_date|date:"F d, Y H:i" }}</p>
    <p><strong>Status:</strong> {{order.status}}</p>
<p><strong>Total Amount:</strong> Tsh {{ order.total_amount|floatformat:0|intcomma}}</p>


<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order_items %}
            <tr>
                <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>Tsh {{ item.price|floatformat:2|intcomma }}</td>
                <td>Tsh {{ item.subtotal|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}