{% extends 'marketplace/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}My Store - UZASPEA{% endblock %}

{% block content %}
<div class="container">
    <h1>My Store</h1>
    <p>Here are the products you're selling:</p>

    {% if products %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
            <div class="col">
                <div class="card h-100">
                    {% if product.images.all %}
                        <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'images/no_image.png' %}" class="card-img-top" alt="No Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'product_detail' slug=product.slug %}">{{ product.name }}</a></h5>
                        <p class="card-text">Price: TSh {{ product.price|floatformat:0|intcomma }}</p>
                        <p class="card-text">Stock: {{ product.stock }}</p>
                    </div>
                     <div class="card-footer">
                        <a href="{% url 'product_update' slug=product.slug %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'product_delete' slug=product.slug %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You haven't listed any products yet. <a href="{% url 'product_create' %}">Start selling now!</a></p>
    {% endif %}
</div>
{% endblock %}